body {
  background-color: #6be3a2;
  font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.form-section {
  background-color: #e36bbd;
  border: 2px solid black;
}

.results-section {
  background-color: #e36bbd;
  border: 2px solid black;
}

/* h1 {
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 15px;
  border-radius: 8px;
} */

.title-box {
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 15px;
  border-radius: 8px;
}

/* Priority styling for to-do table cells */
/* Got this idea from a similar project in CS3733 */
.priority-high {
  color: red;
  font-weight: bold;
}

.priority-medium {
  color: orange; 
  font-weight: bold;
}

.priority-low {
  color: lightgreen;
  font-weight: bold;
}

.delete-btn {
  background-color: lightcoral;
  color: white;  
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: red;
}